<h1>投稿一覧画面</h1>
<div class="post-item">
  <% @posts.each do |post| %>
  <div class="posts-index-item">
    <% if post.img %>
      <img src="<%= "/tweet_images/#{post.img}" %>" >
    <% end %>
    <br>
    <!-- 投稿のユーザIDと現在ログイン中のユーザIDが一致していれば詳細ボタンを表示する ,to_sで値のデータを文字列として扱う -->
      <%= link_to("詳細", "/posts/#{post.id}") %>
    <br>
    <%= post.content %><br>
    <%= post.link %><br>
    <%= post.updated_at.to_s.slice(0..9) %>
  <% end %>
  </div>
</div>