<h1>投稿詳細画面</h1>
<% if @post.img %>
  <img src="<%= "/tweet_images/#{@post.img}" %>" >
<% end %>
<br>
<%= @post.content %><br>
<br>
<%= @post.link %><br>
<% if post.user_id.to_s == @user.id.to_s %>
  <%= link_to("編集", "/posts/#{@post.id}/edit") %>
  <%= link_to("削除","/posts/#{@post.id}/destroy", {method: "post"}) %>
<% end %>