<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>TropicalFishSns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      	<div class="container-fluid">
      	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      	  	<span class="navbar-toggler-icon"></span>
      	  </button>
      	  <div class="collapse navbar-collapse" id="navbarResponsive">
        	  <ul class="navbar-nav ml-auto">
              <% if session[:user_id] %>
		          	<li class="navbar-item"><%= link_to("タイムライン", "/posts/index", {class: "nav-link"}) %></li>
		          	<li class="navbar-item"><%= link_to("投稿", "/posts/new", {class: "nav-link"}) %></li>
		          	<li class="navbar-item"><%= link_to("ログアウト", "/logout", {class: "nav-link"}) %></li>
		          	<li class="navbar-item"><%= link_to("飼育環境", "/rearing_data/#{@current_user.id}/index", {class: "nav-link"}) %></li>
		          	<li class="navbar-item"><%= link_to("カレンダー", "#{@current_user.id}/calendar", {class: "nav-link"}) %></li>
                <li class="navbar-item"><%= link_to("#{@current_user.name}", "/users/#{@current_user.id}", {class: "nav-link"}) %></li>
              <% else %>
		          	<li class="navbar-item"><%= link_to("Home", "/", {class: "nav-link"}) %></li>
		          	<li class="navbar-item"><%= link_to("このサービスについて", "/about", {class: "nav-link"}) %></li>
		          	<li class="navbar-item"><%= link_to("新規登録", "/signup", {class: "nav-link"}) %></li>
		          	<li class="navbar-item"><%= link_to("ログイン", "/signin", {class: "nav-link"}) %></li>
              <% end %>
      	    </ul>
      	  </div>
      	</div>
      </nav>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </header>
	  <!-- header end-->

    <!-- main -->
    <main>
      <%= yield %>
    </main>
	  <!-- main end -->
  </body>
</html>
