<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>TropicalFishSns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      	<div class="container-fluid">
      	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      	  	<span class="navbar-toggler-icon"></span>
      	  </button>
      	  <div class="collapse navbar-collapse" id="navbarResponsive">
      	    <ul class="navbar-nav ml-auto">
		      	<li class="navbar-item"><%= link_to("Home", "/", {class: "nav-link"}) %></li>
		      	<li class="navbar-item"><%= link_to("このサービスについて", "/about", {class: "nav-link"}) %></li>
		      	<li class="navbar-item"><%= link_to("新規登録", "/signup", {class: "nav-link"}) %></li>
		      	<li class="navbar-item"><%= link_to("ログイン", "/login", {class: "nav-link"}) %></li>
      	    </ul>
      	  </div>
      	</div>
      </nav>
    </header>
	  <!--header end-->

    <!-- main -->
    <main>
      <%= yield %>
    </main>
	  <!-- main end -->
  </body>
</html>
